USE [master]
GO
/****** Object:  Database [contact]    Script Date: 19/04/2020 2:10:48 CH ******/
CREATE DATABASE [contact]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'contact', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\contact.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'contact_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\contact_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [contact].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [contact]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 19/04/2020 2:10:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NULL,
	[firstName] [nvarchar](100) NULL,
	[gender] [bit] NOT NULL,
	[lastName] [nvarchar](100) NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([id], [email], [firstName], [gender], [lastName], [phone]) VALUES (1, N'chien@gmail.com', N'Minh', 1, N'Chiến', N'0741258963')
INSERT [dbo].[contact] ([id], [email], [firstName], [gender], [lastName], [phone]) VALUES (2, N'hung@gmailc.com', N'Võ Gia', 1, N'Hưng', N'0852369741')
SET IDENTITY_INSERT [dbo].[contact] OFF
USE [master]
GO
